extends layouts 
block content
    h1 #{categoria}
    ul 
        each product in products 
            li 
                h3=product.nombre
                img(src= product.imagen, alt=product.imagen)
                p=product.descripcion 
                p='Precio: '+ product.precio
    a(href = `/`) Volver a la página principal 