extends layouts

block content
    h1 Mi armario
    a(href='/dashboard/new')
        button(type='button') Agregar nuevo producto
    .products
        each product in products 
            .product-card
                h2= product.nombre
                img(src= product.imagen, alt=product.imagen)
                p= product.descripcion
                p= `${product.precio}`
                a(href=`/dashboard/products/${product._id}`)
                    button(type='button') Ver producto